
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.site-main-wrapper{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(17, 16, 16);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width:1152px;
    padding: 0 15px;
    margin: 0 0;
}
.headd .container{
    margin-left: 5rem;
}
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    
}
header nav{
    padding: 2rem 0;
}
header nav .brand{
    margin-right: 3rem;
}
.brand img{
    margin-top: -1rem;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 2rem;
    font-weight: 700;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}
.btn-s{
    background: transparent;
    color: teal;
    border-color: teal;
    
}
.btn-s:hover{
    cursor: pointer;
    color: white;
}
.btn-p{
    background: teal;
    color:black;

}

.btn-p:hover{
    background: transparent;
    background-color:white;
}
.hero{
    padding: 4rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: white;
    margin-left: 3rem;
}
.hero .right h6{
    font-size: 1.6rem;
    color: teal;
    margin-bottom: 1rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: teal;
}
.hero .right p{
    line-height: 1.4;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top:-6rem;
}
.justify-center{
    justify-content: center;
}
section.about{
    padding: 6rem 6rem;
    
}
section .about-img{
    height: 400px;
}
section h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section h1 span{
    color: teal;
}
section h3 {
    font-size: 1rem;
    margin-bottom: 1rem;

}
section p{
    line-height: 1.8;
}
section .left1{
    padding-left: 4rem;
}
section .left1 .social{
    display: flex;
}
section .left1 .social a{
    /* add social icon here */
    background: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
}
section .left1 .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.section-head{
    color: black;
    text-align: center;
    margin-bottom: 4rem;
    line-height: 0.5rem;
    
}
section .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    
}
section.skill {
    background-color: lightgray;
    padding: 4rem 4rem;
  
}
section.skill .card-wrapper .card{
    background-color: white;
    padding: 1rem 1rem;
    
    position: relative;
    text-align: center;
}
section.skill .card-wrapper .card:hover{
    background-color: black;
    color: white;
}
section.skill .card img{
    position: absolute;
    top: -3rem;
    left: 40%;

}
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Images/plexus.jpg);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    padding-bottom: 8rem;
    padding-top: 3rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    
} 
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
section.blog .blog-wrapper{
    padding: 2rem 20rem;
}
.img-wrapper{
    margin-bottom: 2rem;
    margin-top: -2rem;
}
section.blog{
    text-align: center;
    
}
section.blog .section-head{
    margin-top: 2rem;
    
}
section.contact{
    background-color:rgb(231, 223, 223);
    margin-top: 3rem;
    padding: 2rem 4.5rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
section.contact .section-head{
    padding-top: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
    margin-bottom:3rem ;
    
}

section.contact .input-wrap-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
    
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 1rem;  
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    font-size: 1rem;
    
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid whitesmoke;
    font-size: 1rem;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-bottom: 2rem;
}
footer{
    background-color: rgb(46, 46, 46);
    text-align: center;
    color: blanchedalmond;
    padding: 3rem 0;
}
.foot-logo{
    padding: 1rem 0;
}
.thanks{
    padding: 1rem 0;
}
/* this is mobile nav */
/* .site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
} */

@media(max-width:1024px){
    header #main-nav{
        display: none;
    }

}

@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1152px;
    }
}
@media (max-width: 576px) {
    /* max and min width is main here  */
    /* mobile */

    .container{
        max-width:540px;
    }
    .headd .container{
        margin-left: 1rem;
    }
    .hero{
        flex-direction: column;
    }
    .hero .left img {
        width: 360px;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top: 125px;
        padding: 0 1rem;
        height: 10rem;
        margin-left: 1rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right {
        text-align: center;
        margin: 2rem -3rem;
        
        
    }
    .about .right .social{
        display: none;
    }
    .skill .section-head {
        margin: 2.5rem -3rem ;
        margin-top: 1rem;
        margin-bottom: 5rem;
        padding:1.5rem 1rem ;
    }
    section .card-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 4rem;
    }
    section.blog .blog-wrapper {
        text-align: center;
        padding: 2rem 1rem;
        
    }
    section.contact .input-wrap-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1rem;
    }
    header #main-nav{
        display: none;
    }
    section.contact{
        background-color:rgb(231, 223, 223);
        margin-top: 3rem;
        padding: 2rem;
    }
}
    

/* @media (max-width: 768px) { */
    /* this is for tablet */
    /* .container{
        max-width: 720px;
    }
    header {
        background-color: rgb(17, 16, 16);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 93%, 0 100%);
    }
    .hero{
        flex-direction: column;
    }
    .hero .right {
        color: white;
        margin: 1rem 1rem;
        padding-right: 1rem;
    }
    section .about-img {
        height: 400px;
        margin-left: -3rem;
    }
    section.skill {
        background-color: lightgray;
        padding: 4rem 5rem;
        margin-left: -3rem;
    }
    section.blog .blog-wrapper {
        padding: 2rem 6rem;
        margin-left:-2rem;
    }
    .blog .section-head{
        margin-left: -2rem;
    }
    section.contact .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        margin-left: 6rem;
    }
    .contact .input-wrap{
        margin-right: 4rem;
    }
    .contact .section-head{
        margin-left: -4rem;
    }
    .about .container {
        max-width: 1152px;
        padding: 0 15px;
        margin: 0 0;
    }
    
} */
